---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{%- for page in collections.all %}
{%- if page.data.canonical and not page.data.noindex and "/404" not in page.url %}
  <url><loc>{{ page.data.canonical }}</loc><changefreq>{{ page.data.sitemapChangefreq or "monthly" }}</changefreq></url>
{%- endif %}
{%- endfor %}
</urlset>
